{% extends "base.html" %} {% block title %}devices{% endblock %} {% block content
%}

<div>
    <br>
    <a class="btn btn-primary btn-block mb-2" id="add-device" href="/addDevice">Add New Device</a>
</div>

<div class="container mt-4">

    <div class="row">
    {% for d in deviceList %}

    {% if d.type == "light"%}
    
        <div class="col-md-6 mb-4" id="obj{{d.ip}}" data-object="{{d}}" >
            <div class="card bg-dark text-light">
                <button type="button" class="close text-danger deleteDevice" data-ip="{{d.ip}}" aria-label="Close"
                    style="position: absolute; top: 5px; right: 10px; z-index: 1;">
                    <span aria-hidden="true"><i class="fa fa-trash"></i></span>
                </button>
                <div class="card-header"><i class="fa fa-lightbulb-o"></i> {{d.name}}</div>
                <div class="card-body">
                    {% if d.state == True %}                    
                        <button class="btn btn-success btn-block mb-2 lampswitch"  id="lampswitch-{{d.ip}}" data-ip="{{d.ip}}">Toggle ON/OFF</button>
                    {% else %}
                        <button class="btn btn-danger btn-block mb-2 lampswitch"  id="lampswitch-{{d.ip}}" data-ip="{{d.ip}}">Toggle ON/OFF</button>
                    {% endif %}
                    <button class="btn btn-secondary btn-block lampbright" id="lampbright" data-ip="{{d.ip}}">Toggle Brightness</button>
                    <div class="slidecontainer">
                        <p>Set Brightness:</p>
                        <input type="range" min="0" max="100" value="{{d.brightness}}" class="slider brightnessSlider" id="brightnessSlider" data-ip="{{d.ip}}">
                    </div>
                    
                    <input type="color" id="lightcolour" class="lightcolour" name="lightcolour" value="{{d.colour}}" data-ip="{{d.ip}}">
                    <!-- <button class="btn btn-danger btn-block mt-2 deleteDevice" data-ip="{{d.ip}}">Delete Device</button> -->
                </div>
            </div>
        </div>

        {% endif %}

        {% if d.type == "firestick"%}
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light">
                <button type="button" class="close text-danger deleteDevice" data-ip="{{d.ip}}" aria-label="Close"
                    style="position: absolute; top: 5px; right: 10px; z-index: 1;">
                    <span aria-hidden="true"><i class="fa fa-trash"></i></span>
                </button>
                <div class="card-header"><i class="fa fa-television"></i> {{d.name}}</div>
                <div class="card-body">
                    <button class="btn btn-info btn-block mb-2" id="next_episode">Next Episode</button>
                    <button class="btn btn-info btn-block mb-2" id="playpause">Play/Pause</button>
                    <button class="btn btn-info btn-block mb-2" id="recent_show">Most Recent Show</button>
                    <button class="btn btn-info btn-block" id="formula1">Formula 1</button>
                    
                </div>
            </div>
        </div>
        {% endif %}

        {% if d.type == "spotify"%}
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light">
                <button type="button" class="close text-danger deleteDevice" data-ip="{{d.ip}}" aria-label="Close"
                    style="position: absolute; top: 5px; right: 10px; z-index: 1;">
                    <span aria-hidden="true"><i class="fa fa-trash"></i></span>
                </button>
                <div class="card-header"><i class="fa fa-spotify"></i> Spotify</div>
                <div class="card-body">
                    <button class="btn btn-info btn-block" id="spotify">Toggle Spotify</button>
                </div>
            </div>
        </div>
        {% endif %}


       {% endfor %}


    </div> 
</div>

    {% endblock %}