{% extends "base.html" %} {% block title %}devices{% endblock %} {% block content
%}

<div>
    <br>
    <a class="btn btn-primary btn-block mb-2" id="add-device" href="/addDevice">Add New Device</a>
</div>

<div class="container mt-4">

    {% for d in deviceList %}

    {% if d.type == "light"%}
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light">
                <div class="card-header"><i class="fa fa-lightbulb-o"></i> {{d.name}}</div>
                <div class="card-body">
                    <button class="btn btn-primary btn-block mb-2 lampswitch" id="lampswitch" data-ip="{{d.ip}}">Toggle ON/OFF</button>
                    <button class="btn btn-secondary btn-block lampbright" id="lampbright" data-ip="{{d.ip}}">Toggle Brightness</button>
                    <div class="slidecontainer">
                        <p>Set Brightness:</p>
                        <input type="range" min="0" max="100" value="50" class="slider brightnessSlider" id="brightnessSlider" data-ip="{{d.ip}}">
                    </div>
                    
                    <input type="color" id="lightcolour" class="lightcolour" name="lightcolour" value="#ff0000" data-ip="{{d.ip}}">
                </div>
            </div>
        </div>

        {% endif %}

        {% if d.type == "firestick"%}
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light">
                <div class="card-header"><i class="fa fa-television"></i> {{d.name}}</div>
                <div class="card-body">
                    <button class="btn btn-info btn-block mb-2" id="next_episode">Next Episode</button>
                    <button class="btn btn-info btn-block mb-2" id="playpause">Play/Pause</button>
                    <button class="btn btn-info btn-block mb-2" id="recent_show">Most Recent Show</button>
                    <button class="btn btn-info btn-block" id="formula1">Formula 1</button>
                </div>
            </div>
        </div>
        {% endif %}

        {% if d.type == "spotify"%}
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light">
                <div class="card-header"><i class="fa fa-spotify"></i> Spotify</div>
                <div class="card-body">
                    <button class="btn btn-info btn-block" id="spotify">Toggle Spotify</button>
                </div>
            </div>
        </div>
        {% endif %}


      


    </div>  {% endfor %}
</div>

    {% endblock %}