
{% extends "base.html" %} {% block title %}light{% endblock %} {% block content
%}
    <h1>Corner Lamp</h1>
    <button type="button" class="btn btn-info" id="lampswitch">Toggle Lamp ON/OFF</button>
    <button type="button" class="btn btn-info" id="lampbright">Toggle Lamp Brightness</button>
    <button type="button" class="btn btn-info" id="moodlight">Mood Light ON/OFF</button>
    <h1>Main Light</h1>
    <button type="button" class="btn btn-info" id="lightswitch">Toggle Light ON/OFF</button>
    <button type="button" class="btn btn-info" id="lightbright">Toggle Light Brightness</button>

    <h1>Hall Light</h1>
    <button type="button" class="btn btn-info" id="hallswitch">Toggle Hall ON/OFF</button>
    <button type="button" class="btn btn-info" id="hallbright">Toggle Hall Brightness</button>

    <h1>Lights Out</h1>
    <button type="button" class="btn btn-info" id="lightsoff">Lights Out</button>
    
    <h1>Spotify</h1>
    <button type="button" class="btn btn-info" id="spotify">Spotify</button>


    <h1>FireStick Control</h1> 
    <button type="button" class="btn btn-info" id="next_episode">Next Episode</button>
    <button type="button" class="btn btn-info" id="playpause">Play/Pause</button>
    <button type="button" class="btn btn-info" id="recent_show">Most Recent Show</button>
    <button type="button" class="btn btn-info" id="formula1">Formula 1</button>
    <br>
    <br>
    <button type="button" class="btn btn-info" id="poweroff">Sleep</button>
    <button type="button" class="btn btn-info" id="wakeup">Wake</button>


    <script></script>
    
{% endblock %}